.flex {
  display: flex;
}

#productSection {
  flex-wrap: wrap;
  padding: 2% 10%;
  justify-content: center;
}

.product {
  width: 25%;
  padding: 0% 2%;
  background-color: beige;
  margin: 1%;
}

img {
  width: 80%;
}

#buttonSection {
  text-align: center;
}

.pageButtons {
  margin: 0px 40px;
}

#navbar {
  width: 100%;
  background-color: aqua;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: solid black 2px;
}